body{
    background-color:gold;
}
p{
    color:darkblue;
    border: 2px solid rosybrown;
    padding: 50px;
    margin: 40px;
}
h1{
    color: rgb(225, 0, 255);
    bottom: 3000px solid darkkhaki;
    font-size: xx-large;
}
image{
    padding: 500px;
    margin: 4000px;
}